<a href="https://colab.research.google.com/github/bakut/packt-data-science-workshop/blob/master/Multiple_Regression_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Multiple regression Analysis**

To be able to model the variability to a higher level of accuracy, therefore, it is necessary to investigate all the independent variables that may contribute significantly toward explaining the variability in the dependent variable. Multiple regression analysis is the method that is used to achieve this.

In [0]:
#importing required packages
import statsmodels.formula.api as smf
import pandas as pd
from sklearn.model_selection import train_test_split

In [0]:
#load dataset
rawBostondata = pd.read_csv('https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter02/Dataset/Boston.csv')

In [17]:
#view dataset
rawBostondata.head()

      CRIM   ZN   INDUS   CHAS    NOX  ...  RAD  TAX  PTRATIO  LSTAT  MEDV
0  0.00632  18.0    2.31     0  0.538  ...    1  296     15.3   4.98  24.0
1  0.02731   0.0    7.07     0  0.469  ...    2  242     17.8   9.14  21.6
2  0.02729   0.0    7.07     0  0.469  ...    2  242     17.8   4.03  34.7
3  0.03237   0.0    2.18     0  0.458  ...    3  222     18.7   2.94  33.4
4  0.06905   0.0    2.18     0  0.458  ...    3  222     18.7   5.33  36.2

[5 rows x 13 columns]

In [18]:
#list of columns in dataset for examination and possible modifications
list(rawBostondata.columns)

['CRIM',
 ' ZN ',
 'INDUS ',
 'CHAS',
 'NOX',
 'RM',
 'AGE',
 'DIS',
 'RAD',
 'TAX',
 'PTRATIO',
 'LSTAT',
 'MEDV']

In [0]:
#renaming dataframe columns and mindful of white spaces and text structure.
renamedBostonData = rawBostondata.rename(columns = {'CRIM':'crimeRatePerCapita', 
 ' ZN ':'landOver25K_sqft', 
 'INDUS ':'non-retailLandProptn', 
 'CHAS':'riverDummy', 
 'NOX':'nitrixOxide_pp10m', 
 'RM':'AvgNo.RoomsPerDwelling', 
 'AGE':'ProptnOwnerOccupied', 
 'DIS':'weightedDist', 
 'RAD':'radialHighwaysAccess', 
 'TAX':'propTaxRate_per10K', 
 'PTRATIO':'pupilTeacherRatio', 
 'LSTAT':'pctLowerStatus', 
 'MEDV':'medianValue_Ks'})

In [20]:
renamedBostonData.head()

   crimeRatePerCapita  landOver25K_sqft  ...  pctLowerStatus  medianValue_Ks
0             0.00632              18.0  ...            4.98            24.0
1             0.02731               0.0  ...            9.14            21.6
2             0.02729               0.0  ...            4.03            34.7
3             0.03237               0.0  ...            2.94            33.4
4             0.06905               0.0  ...            5.33            36.2

[5 rows x 13 columns]

In [21]:
#inspecting the data types of columns using the .info() function:
renamedBostonData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   crimeRatePerCapita      506 non-null    float64
 1   landOver25K_sqft        506 non-null    float64
 2   non-retailLandProptn    506 non-null    float64
 3   riverDummy              506 non-null    int64
 4   nitrixOxide_pp10m       506 non-null    float64
 5   AvgNo.RoomsPerDwelling  506 non-null    float64
 6   ProptnOwnerOccupied     506 non-null    float64
 7   weightedDist            506 non-null    float64
 8   radialHighwaysAccess    506 non-null    int64
 9   propTaxRate_per10K      506 non-null    int64
 10  pupilTeacherRatio       506 non-null    float64
 11  pctLowerStatus          506 non-null    float64
 12  medianValue_Ks          506 non-null    float64
dtypes: float64(10), int64(3)
memory usage: 51.5 KB

In [0]:
#divide the dataframe into traing and test sets:
X = renamedBostonData.drop('crimeRatePerCapita', axis = 1)
y = renamedBostonData[['crimeRatePerCapita']]
seed = 10
test_data_size = 0.3
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = test_data_size, random_state = seed)
train_data = pd.concat([X_train, y_train], axis = 1)
test_data = pd.concat([X_test, y_test], axis = 1)

* Choose a test data size
* The train_test_split function is used to achieve this
*  Seed; A random number generator so that we can obtain a reproducible split each time we run the code, an arbitrary value
* A good model-building practice to divide a dataset being used to dvelop a model into two parts, one part to used to develop the model and it is called a traing set (X_train and y_train combined).

In [0]:
#use the plus operator(+) of the patsy formula language to define a linear model
multiLinearModel = smf.ols(formula=\
'crimeRatePerCapita ~ pctLowerStatus + radialHighwaysAccess +\
medianValue_Ks + nitrixOxide_pp10m', data=train_data)

In [0]:
#call the fit method of the model instance and assign the results of the method to a variable
multiLinearModResult = multiLinearModel.fit()

In [31]:
#print summary
print(multiLinearModResult.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     crimeRatePerCapita   R-squared:                       0.398
Model:                            OLS   Adj. R-squared:                  0.391
Method:                 Least Squares   F-statistic:                     57.77
Date:                Fri, 17 Apr 2020   Prob (F-statistic):           2.19e-37
Time:                        20:01:41   Log-Likelihood:                -1154.9
No. Observations:                 354   AIC:                             2320.
Df Residuals:                     349   BIC:                             2339.
Df Model:                           4
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept                0.8912      2.670      0.334      0.739      -4.360       6.142
pctLowerStatus           0.1028      0.080      1.277      0.202      -0.055       0.261
radialHighwaysAccess     0.4948      0.048     10.216      0.000       0.400       0.590
medianValue_Ks          -0.1103      0.058     -1.916      0.056      -0.224       0.003
nitrixOxide_pp10m       -2.1039      4.131     -0.509      0.611     -10.229       6.021
==============================================================================
Omnibus:                      534.476   Durbin-Watson:                   1.999
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           100129.789
Skew:                           7.866   Prob(JB):                         0.00
Kurtosis:                      83.876   Cond. No.                         374.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.