<a href="https://colab.research.google.com/github/bakut/packt-data-science-workshop/blob/master/The_Statsmodels_formula_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**The Statsmodels formula API**
A simple linear regression model where the crime rate per capita is the dependent variable and the median value of owner-occupied homes is the independent variable. We use the statsmodels formula API to create a linear regression model for Python to analyze.

In [1]:
#importing required packages
import pandas as pd
import statsmodels.formula.api as smf
from sklearn.model_selection import train_test_split

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
#load dataset
rawBostondata = pd.read_csv('https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter02/Dataset/Boston.csv')

In [3]:
#view dataset
rawBostondata.head()

      CRIM   ZN   INDUS   CHAS    NOX  ...  RAD  TAX  PTRATIO  LSTAT  MEDV
0  0.00632  18.0    2.31     0  0.538  ...    1  296     15.3   4.98  24.0
1  0.02731   0.0    7.07     0  0.469  ...    2  242     17.8   9.14  21.6
2  0.02729   0.0    7.07     0  0.469  ...    2  242     17.8   4.03  34.7
3  0.03237   0.0    2.18     0  0.458  ...    3  222     18.7   2.94  33.4
4  0.06905   0.0    2.18     0  0.458  ...    3  222     18.7   5.33  36.2

[5 rows x 13 columns]

In [4]:
#list of columns in dataset for examination and possible modifications
list(rawBostondata.columns)

['CRIM',
 ' ZN ',
 'INDUS ',
 'CHAS',
 'NOX',
 'RM',
 'AGE',
 'DIS',
 'RAD',
 'TAX',
 'PTRATIO',
 'LSTAT',
 'MEDV']

In [0]:
#renaming dataframe columns and mindful of white spaces and text structure.
renamedBostonData = rawBostondata.rename(columns = {'CRIM':'crimeRatePerCapita', 
 ' ZN ':'landOver25K_sqft', 
 'INDUS ':'non-retailLandProptn', 
 'CHAS':'riverDummy', 
 'NOX':'nitrixOxide_pp10m', 
 'RM':'AvgNo.RoomsPerDwelling', 
 'AGE':'ProptnOwnerOccupied', 
 'DIS':'weightedDist', 
 'RAD':'radialHighwaysAccess', 
 'TAX':'propTaxRate_per10K', 
 'PTRATIO':'pupilTeacherRatio', 
 'LSTAT':'pctLowerStatus', 
 'MEDV':'medianValue_Ks'})

In [6]:
renamedBostonData.head()

   crimeRatePerCapita  landOver25K_sqft  ...  pctLowerStatus  medianValue_Ks
0             0.00632              18.0  ...            4.98            24.0
1             0.02731               0.0  ...            9.14            21.6
2             0.02729               0.0  ...            4.03            34.7
3             0.03237               0.0  ...            2.94            33.4
4             0.06905               0.0  ...            5.33            36.2

[5 rows x 13 columns]

In [7]:
#inspecting the data types of columns using the .info() function:
renamedBostonData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   crimeRatePerCapita      506 non-null    float64
 1   landOver25K_sqft        506 non-null    float64
 2   non-retailLandProptn    506 non-null    float64
 3   riverDummy              506 non-null    int64
 4   nitrixOxide_pp10m       506 non-null    float64
 5   AvgNo.RoomsPerDwelling  506 non-null    float64
 6   ProptnOwnerOccupied     506 non-null    float64
 7   weightedDist            506 non-null    float64
 8   radialHighwaysAccess    506 non-null    int64
 9   propTaxRate_per10K      506 non-null    int64
 10  pupilTeacherRatio       506 non-null    float64
 11  pctLowerStatus          506 non-null    float64
 12  medianValue_Ks          506 non-null    float64
dtypes: float64(10), int64(3)
memory usage: 51.5 KB

In [0]:
#divide the dataframe into traing and test sets:
X = renamedBostonData.drop('crimeRatePerCapita', axis = 1)
y = renamedBostonData[['crimeRatePerCapita']]
seed = 10
test_data_size = 0.3
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = test_data_size, random_state = seed)
train_data = pd.concat([X_train, y_train], axis = 1)
test_data = pd.concat([X_test, y_test], axis = 1)

* Choose a test data size
* The train_test_split function is used to achieve this
*  Seed; A random number generator so that we can obtain a reproducible split each time we run the code, an arbitrary value
* A good model-building practice to divide a dataset being used to dvelop a model into two parts, one part to used to develop the model and it is called a traing set (X_train and y_train combined).

In [0]:
#define a linear regression model and assign it to a varaible named linearmodel
linearModel = smf.ols(formula='crimeRatePerCapita ~ medianValue_Ks',\
                      data=train_data)

ols function of the statsmodels API and set its formula argument by defining a patsy formula string that uses the tilde(~) symbol to relate the dependent variable to the independent variable. Tell the function where to find the variables named, in the string, by assigning the data argument of the ols function to the DataFrame that contains your variables (train_data)

In [0]:
#call the fit method of the model instance and assign the result of the method to linearModelResult variable
linearModelResult = linearModel.fit()

In [13]:
#print summary of the result stored the linearModelResult variable by running the following code:
print(linearModelResult.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     crimeRatePerCapita   R-squared:                       0.144
Model:                            OLS   Adj. R-squared:                  0.141
Method:                 Least Squares   F-statistic:                     59.02
Date:                Fri, 17 Apr 2020   Prob (F-statistic):           1.56e-13
Time:                        19:37:21   Log-Likelihood:                -1217.4
No. Observations:                 354   AIC:                             2439.
Df Residuals:                     352   BIC:                             2447.
Df Model:                           1
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept         11.2094      1.079     10.386      0.000       9.087      13.332
medianValue_Ks    -0.3502      0.046     -7.683      0.000      -0.440      -0.261
==============================================================================
Omnibus:                      447.354   Durbin-Watson:                   1.928
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            39791.431
Skew:                           5.897   Prob(JB):                         0.00
Kurtosis:                      53.583   Cond. No.                         63.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

 What fitting here means is to estimate the regression coefficients (parameters) using the ordinary least squares method.